* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}



/* Navigation Starts Here */



.navigation {
    background-color: #eee;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoimg {
    width: 70%;
}


.navbar .nav-item ul {
    display: flex;
    text-transform: uppercase;
}

.navbar .nav-item ul li a {
    color: #999;
    text-decoration: none;
    padding: 0 0.7rem;
    transition: 0.4s all ease;
}

.navbar .nav-item ul li a.active {
    color: #428647;
}

.navbar .nav-item ul li a:hover {
    border-bottom: 1px solid #d18b36;
    padding-bottom: 5px;
    color: #d18b36;
}

.menu-icon {
    display: none;
}


/* navigation ends */


/* Header Starts */

.header {
    width: 100%;
    height: 100vh;
    background: url(images/2bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}


.headingtxt {
    width: 50%;
}

.header .headingtxt h3 {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'roboto';
    text-align: center;
}

.header .headingtxt p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1rem;

    color: #111212;
    font-weight: normal;
    font-family: sans-serif;
    margin: 21px 0 0;
    margin-bottom: 1.5rem;
}

.credit {
    margin-bottom: 2rem;
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: sans-serif;
}


.credit p a {
    color: #428647;
    text-decoration: none;
    border-bottom: 1px solid #428647;
    padding-bottom: 3px;

}

.btn {
    text-decoration: none;
    

    width: 50%;
    padding: 0.6rem 2rem;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    margin: 0rem 1.5rem;
}


.btn1 {
    background: #428647;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: #fff;
    font-family: sans-serif;
}

.btn1:hover {
    background-color: #396d3c;
}

.btn2 {
    background: #999;
    border: 1px solid #fff;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #fff;
    font-family: sans-serif;
}

.btn2:hover {
    background: #fff;
}


/* Header Ends */

/* Footer Starts */

.footer {
    display: flex;
    color: #fff;
    background: #333;
    padding: 5rem 3rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer .fl {
    font-size: .8rem;
}

p .footerlink {
    color: #91c191;
    line-height: 44px;
    margin: 2px 5px;
}

#menu-btn {
    color: #999;
}

/* Footer ends */






























/* responsive */

/* navigation */

@media only screen and (max-width: 480px) {

    .navigation {
        background-color: #eee;
        padding: 1.5rem;
    }

    .logoimg {
        width: 60%;
    }

    .navbar .nav-item ul {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* Header */

    .header {
        height: 70vh;
        
        background-position: 55% 50%;
        vertical-align: middle;
    }


    .headingtxt {
        width: 90%;
       
    }

    .header .headingtxt h3 {
        font-size: 2.5rem;
        font-weight: 300;
        font-family: 'Fredoka One';
        text-align: center;
        margin-top: 20%;
    }

    .header .headingtxt p {
        font-size: 1rem;
        text-align: center;
        line-height: 1rem;
        color: #111212;
        font-weight: normal;
        font-family: sans-serif;
        margin: 21px 0 0;
        margin-bottom: 1rem;
    }

    .credit {
        margin-bottom: 2rem;
        font-size: 0.8rem;
        text-transform: capitalize;
        font-family: sans-serif;
    }


    .credit p a {
        color: #111;
        text-decoration: none;
        border-bottom: 1px solid #111;
        padding-bottom: 3px;

    }

    .btns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }



    .btn {
        width: 40%;
        padding: 0.5rem 1rem;
        margin: 0.5rem 2rem;
        font-size: 0.7rem;
        text-align: center;
    }


    .btn1 {
        background: #428647;
        font-weight: 500;
        letter-spacing: 0.05rem;
        color: #fff;
        font-family: sans-serif;
    }



    .btn2 {
        background: transparent;
        border: 1px solid #fff;
        font-weight: 600;
        letter-spacing: 0.05rem;
        color: #396d3c;
        font-family: sans-serif;
    }




}